@font-face {
    font-family: 'Roboto';
    src: local('Roboto Condensed'), url('../assets/font/RobotoCondensed-Light.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Condensed'), url('../assets/font/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Condensed'), url('../assets/font/RobotoCondensed-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Condensed'), url('../assets/font/RobotoCondensed-Italic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Condensed'), url('../assets/font/RobotoCondensed-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Condensed'), url('../assets/font/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 700;
}

* {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.bar-scroll {
    transition: left 0.9s cubic-bezier(0.02, 0.8, 0.69, 1.08);
}

.sys-btn {
    color: #fff !important;
    cursor: pointer;
}

.card-route {
    transition: 0.2s;
}

.card-route:hover {
    transform: translateY(-10px) scale(1.005) translateZ(0);
    box-shadow: 0 32px 48px rgba(0, 0, 0, 0.11), 0 24px 46px (#2f4858);
}

.featured-text-field input {
    font-size: 16px !important;
    font-weight: 200;
    width: 500px;
    background: white;
    border: 3px solid white;
    border-radius: 5px;
}

.featured-search-text-field input {
    font-size: 16px !important;
    font-weight: 200;
    width: 30vw;
    background: white;
    border: 3px solid white;
    border-radius: 5px;
    padding: 16px;
}

.document-select-form {
    font-size: 16px !important;
    background-color: white;
    height: 35px;
}

.document-select-form .MuiInput-input {
    font-size: 16px !important;
    background-color: white;
    height: 20px;
}

.document-input-form {
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: white;
    text-align: center;
}

.document-input-form input {
    font-weight: 200;
}

.document-input-form:hover {
    border-radius: 4px;
    border: 1px solid black;
}

.input-black {
    padding: 2px 4px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid black;
}

.datepicker input {
    border-radius: 4px;
    max-width: 120px;
    border: 1px solid #cccccc;
    padding: 4px 8px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
}

.list-item {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    padding: 8px 16px;
    margin: 16px;
    transition: 0.2s;
    border-radius: 5px;
}

.list-item-hover:hover {
    border: 2px solid #2f4858;
    transform: scale(1.01);
}
