/* @font-face {
    font-family: 'din-b';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/DIN2014Narrow-Bold.eot');
    src: local('open sans extralight'), local('open-sans-extralight'),
        url('../assets/font/DIN2014Narrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/DIN2014Narrow-Bold.woff2') format('woff2'),
        url('../assets/font/DIN2014Narrow-Bold.woff') format('woff'),
        url('../assets/font/DIN2014Narrow-Bold.ttf') format('truetype'),
        url('../assets/font/DIN2014Narrow-Bold.svg#Barlow') format('svg'),
        url('../assets/font/DIN2014Narrow-Bold.otf') format('otf');
}

@font-face {
    font-family: 'din-r';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/DIN2014Narrow-Regular.eot');
    src: local('open sans extralight'), local('open-sans-extralight'),
        url('../assets/font/DIN2014Narrow-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/DIN2014Narrow-Regular.woff2') format('woff2'),
        url('../assets/font/DIN2014Narrow-Regular.woff') format('woff'),
        url('../assets/font/DIN2014Narrow-Regular.ttf') format('truetype'),
        url('../assets/font/DIN2014Narrow-Regular.svg#Barlow') format('svg'),
        url('../assets/font/DIN2014Narrow-Regular.otf') format('otf');
}

@font-face {
    font-family: 'din-l';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/font/DIN2014Narrow-Light.eot');
    src: local('open sans extralight'), local('open-sans-extralight'),
        url('../assets/font/DIN2014Narrow-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/font/DIN2014Narrow-Light.woff2') format('woff2'),
        url('../assets/font/DIN2014Narrow-Light.woff') format('woff'),
        url('../assets/font/DIN2014Narrow-Light.ttf') format('truetype'),
        url('../assets/font/DIN2014Narrow-Light.svg#Barlow') format('svg'),
        url('../assets/font/DIN2014Narrow-Light.otf') format('otf');
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 !important;
    padding: 0 !important;
}

.bar-scroll {
    transition: left 0.9s cubic-bezier(0.02, 0.8, 0.69, 1.08);
}

.sys-btn {
    color: #fff !important;
    cursor: pointer;
}

.card-route {
    transition: 0.2s;
}

.card-route:hover {
    transform: translateY(-10px) scale(1.005) translateZ(0);
    box-shadow: 0 32px 48px rgba(0, 0, 0, 0.11), 0 24px 46px (#2f4858);
}

.featured-text-field input {
    font-size: 16px !important;
    font-weight: 200;
    width: 500px;
    background: white;
    border: 3px solid white;
    border-radius: 5px;
}

.featured-search-text-field input {
    font-size: 16px !important;
    font-weight: 200;
    width: 30vw;
    background: white;
    border: 3px solid white;
    border-radius: 5px;
    padding: 16px;
}

/* .sys-btn:hover {
    background-color: #41040662;
    transition: all 0.3s;
    color: #313131 !important;
} */
