@font-face {
    font-family: 'din-b';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/DIN2014Narrow-Bold.eot');
    src: local('open sans extralight'), local('open-sans-extralight'), url('../assets/font/DIN2014Narrow-Bold.eot?#iefix') format('embedded-opentype'), url('../assets/font/DIN2014Narrow-Bold.woff2') format('woff2'), url('../assets/font/DIN2014Narrow-Bold.woff') format('woff'), url('../assets/font/DIN2014Narrow-Bold.ttf') format('truetype'), url('../assets/font/DIN2014Narrow-Bold.svg#Barlow') format('svg'), url('../assets/font/DIN2014Narrow-Bold.otf') format('otf');
}

@font-face {
    font-family: 'din-r';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/font/DIN2014Narrow-Regular.eot');
    src: local('open sans extralight'), local('open-sans-extralight'), url('../assets/font/DIN2014Narrow-Regular.eot?#iefix') format('embedded-opentype'), url('../assets/font/DIN2014Narrow-Regular.woff2') format('woff2'), url('../assets/font/DIN2014Narrow-Regular.woff') format('woff'), url('../assets/font/DIN2014Narrow-Regular.ttf') format('truetype'), url('../assets/font/DIN2014Narrow-Regular.svg#Barlow') format('svg'), url('../assets/font/DIN2014Narrow-Regular.otf') format('otf');
}

@font-face {
    font-family: 'din-l';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/font/DIN2014Narrow-Light.eot');
    src: local('open sans extralight'), local('open-sans-extralight'), url('../assets/font/DIN2014Narrow-Light.eot?#iefix') format('embedded-opentype'), url('../assets/font/DIN2014Narrow-Light.woff2') format('woff2'), url('../assets/font/DIN2014Narrow-Light.woff') format('woff'), url('../assets/font/DIN2014Narrow-Light.ttf') format('truetype'), url('../assets/font/DIN2014Narrow-Light.svg#Barlow') format('svg'), url('../assets/font/DIN2014Narrow-Light.otf') format('otf');
}

.logo {
    /* width: 70%; */
}

.logo:hover {
    transform-origin: top left;
    transform: scale(1.3);
    transition: all .3s;
    cursor: pointer;
}

.bar-scroll {
    transition: left .9s cubic-bezier(.02, .8, .69, 1.08);
}

.sys-btn {
    color: #fff !important;
}

.sys-btn:hover {
    background-color: #f67e83;
    transition: all .3s;
    color: #313131 !important;
}